@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0, 0%, 0%;
    --card: 0 0% 100%;
    --card-foreground: 210, 28%, 98%;
    --popover: 0 0% 100%;
    --popover-foreground: 210, 28%, 98%;
    --primary: 248, 100%, 73%;
    --primary-foreground: 0 0% 100%;
    --primary-faded: 210, 77%, 92%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 213, 25%, 27%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 215, 19%, 46%;
    --accent: 0, 0%, 100%;
    --accent-foreground: 213, 25%, 27%;
    --destructive: 349, 89%, 60%;
    --destructive-foreground: 0 0% 100%;
    --success: 160, 72%, 38%;
    --success-foreground: 150, 78%, 90%;
    --blue: 210, 90%, 60%;
    --blue-foreground: 214, 92%, 93%;
    --border: 240, 14%, 96%;
    --input: 0 0% 89.8%;
    --chart-1: 248, 100%, 73%;
  }
  .dark {
    --background: 252, 12%, 23%;
    --foreground: 0 0% 100%;
    --card: 252, 9%, 30%;
    --card-foreground: 0 0% 98%;
    --popover: 252, 9%, 30%;
    --popover-foreground: 0 0% 98%;
    --primary: 248, 100%, 73%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 98%;
    --muted: 252, 9%, 30%;
    --muted-foreground: 0 0% 100%;
    --accent: 240, 10%, 73%;
    --accent-foreground: 0 0% 98%;
    --destructive: 349, 89%, 60%;
    --destructive-foreground: 0 0% 100%;
    --success: 160, 72%, 38%;
    --success-foreground: 150, 78%, 90%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 248, 100%, 73%;
    --chart-2: 0 0% 100%;
    --radius: {
      lg: 0.5rem;
      xl: 1rem;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
